<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.pedroinnecco.launchnew</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>07A8890D-40E1-4C76-9BE0-199BBF20AA53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4261CC7F-F5DC-43D9-9CB1-2ABDE5239CA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5368E260-051A-4B02-A548-79636ACFED99</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4261CC7F-F5DC-43D9-9CB1-2ABDE5239CA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8B9D8732-E752-4321-A069-E18B322416E1</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>4261CC7F-F5DC-43D9-9CB1-2ABDE5239CA2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Pedro Innecco</string>
	<key>description</key>
	<string>Quickly launch a fresh instance of any application, even if it’s already running.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Launch New Instance</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>focusedappvariable</key>
				<false/>
				<key>focusedappvariablename</key>
				<string></string>
				<key>hotkey</key>
				<integer>44</integer>
				<key>hotmod</key>
				<integer>1048576</integer>
				<key>hotstring</key>
				<string>/</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>07A8890D-40E1-4C76-9BE0-199BBF20AA53</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>filetypes</key>
				<array>
					<string>com.apple.application-bundle</string>
				</array>
				<key>name</key>
				<string>Launch New Instance</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>5368E260-051A-4B02-A548-79636ACFED99</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>!!</string>
				<key>subtext</key>
				<string>Start another instance of the application.</string>
				<key>text</key>
				<string>Launch New Instance</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8B9D8732-E752-4321-A069-E18B322416E1</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>open -n -a "$1"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>11</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>4261CC7F-F5DC-43D9-9CB1-2ABDE5239CA2</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow lets you spawn a new process of any macOS app.  
Use the keyword `!! &lt;AppName&gt;` or the Universal Action to “Launch New Instance” from Alfred’s action list.  
You can also assign a hotkey to instantly start a fresh copy of the selected app.</string>
	<key>uidata</key>
	<dict>
		<key>07A8890D-40E1-4C76-9BE0-199BBF20AA53</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>40</real>
		</dict>
		<key>4261CC7F-F5DC-43D9-9CB1-2ABDE5239CA2</key>
		<dict>
			<key>xpos</key>
			<real>370</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
		<key>5368E260-051A-4B02-A548-79636ACFED99</key>
		<dict>
			<key>xpos</key>
			<real>50</real>
			<key>ypos</key>
			<real>210</real>
		</dict>
		<key>8B9D8732-E752-4321-A069-E18B322416E1</key>
		<dict>
			<key>xpos</key>
			<real>165</real>
			<key>ypos</key>
			<real>425</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>0.2</string>
	<key>webaddress</key>
	<string>pedroinnecco.com</string>
</dict>
</plist>
